<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/principal.css">
    <title>Document</title>
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Heebo', sans-serif;
    background-image:url(https://img.freepik.com/vector-gratis/fondo-monocromatico-blanco-estilo-papel_52683-66443.jpg?w=2000) ;
    background-size: 100%;
}

a{
    text-decoration: none;
    color: black;
    margin-top: 15px;
}


</style>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>